.App{
  background-color: grey;
}

.nav{
  height: 35px;
  width: 100%;
  padding: 2px;
  display: flex;
  align-items: center;
}

.formholder{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}